* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #323030;
  font-family: sans-serif Helvetica Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.inputBox {
  position: relative;
  margin-bottom: 20px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  padding-left: 30px;
}

i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 20px;
  color: #007bff;
}

.remember {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 14px;
}

label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #0056b3;
}

.register {
  font-size: 14px;
  text-align: center;
  margin: 8px auto;
}

.register a {
  color: #007bff;
}
